@font-face {
      src: url(NCS_Rogueland.ttf);
      font-family: NCS_Rogueland;
}

{
  margin: 0;
  padding: 0;
}

body {'
  background-image: url('https://github.com/michaelxstark/Audidiary/blob/main/Background_Audidiary.png');
  background-position: center;
}

.wrapper
{
  margin: 0 auto;
  width: 1000px;
}


.head {
  text-align: center;
}


.head2 {
  font-style: normal;
  font-weight: lighter;
  text-align: center;
}

.head3 {
  font-style: normal;
  font-weight: lighter;
  text-align: center;
}


video {
  width: 100%;
  margin-bottom: 20px;
}
